<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Home" Icon="home">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </NavLink>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Genre" Icon="group_work">
        <NavLink class="nav-link" href="genre" Match="NavLinkMatch.All">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true" style="color:indigo;"></span> Genre
        </NavLink>
        <NavLink class="nav-link" href="GenreComperer" Match="NavLinkMatch.All">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true" style="color:indigo;"></span> Genre Comperer
        </NavLink>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Movie" Icon="camera_enhance">
        <NavLink class="nav-link" href="movieappend" Match="NavLinkMatch.All">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true" style="color:indigo;"></span> Movie Append
        </NavLink>
        <NavLink class="nav-link" href="movie" Match="NavLinkMatch.All">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true" style="color:indigo;"></span> Movies
        </NavLink>
    </RadzenPanelMenuItem>
</RadzenPanelMenu>