@page "/map"
@using System.Data;
@using dymaptic.GeoBlazor.Core.Components.Layers
@using dymaptic.GeoBlazor.Core.Components.Popups
@using dymaptic.GeoBlazor.Core.Components.Symbols
@using TemplateCleanArchitecture.App.Models;

<PageTitle>Index</PageTitle>

<div>
    <MapView Longitude="_longitude" Latitude="_latitude" Zoom="11" Style="height: 400px; width: 100%;">
        <GraphicsLayer>
            <Graphic>
                <Point Longitude="@Longitude" Latitude="@Latitude" />
                <SimpleMarkerSymbol Color="@(new MapColor(81, 46, 132))">
                    <Outline Color="@(new MapColor(255, 255, 255))" Width="1" />
                </SimpleMarkerSymbol>
                <PopupTemplate Title="{Name}">
                    <FieldsPopupContent>
                        <FieldInfo FieldName="Description" Label="Description" IsEditable="false" Tooltip="" Visible="true"
                                    StringFieldOption="text-box" />
                        <FieldInfo FieldName="Address" Label="Original Address" IsEditable="false" Tooltip="" Visible="true"
                                                                            StringFieldOption="text-box" />
                    </FieldsPopupContent>
                </PopupTemplate>
        
            </Graphic>
         </GraphicsLayer>
    </MapView>
</div>