@page "/"

<PageTitle>Home</PageTitle>

<RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto">
    <p>Welcome to Template Clean Architecture</p>
    <RadzenImage Path="/Images/homeImage.jpg" Style="width: 80%;" AlternateText="community" />
</RadzenStack>
