@page "/movie"

<div Style="border: var(--rz-grid-cell-border); margin-bottom:10px; padding: 10px;">
    <RadzenRow>
        @foreach (var movie in movies)
        {
            <RadzenColumn SizeMD="4">
                <RadzenCard Class="rz-my-1 rz-mx-auto" Style="max-width: 420px">

                    @{
                        string imageName = "homeImage";
                        if (movie.Id < 5)
                            imageName = movie.Id.ToString();
                    }
                    <RadzenImage Path="@($"/Images/{imageName}.jpg")" Style="width: 100%; height: 150px;" />
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                        <RadzenStack Gap="0">

                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Name</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@(movie.Name)</b></RadzenText>

                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Rating</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@(movie.Rating)</b></RadzenText>

                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Description</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@(movie.Description.ToString().Substring(0, 60)) ...</b></RadzenText>

                        </RadzenStack>
                    </RadzenStack>

                </RadzenCard>
            </RadzenColumn>
        }
    </RadzenRow>
</div>

@code {
    [Inject]
    public HttpClient httpClient { get; set; } = new HttpClient();
    public List<MovieVm> movies { get; set; } = new List<MovieVm>();

    protected override async Task OnInitializedAsync()
    {
        var moviesList = await httpClient.GetFromJsonAsync<List<MovieVm>>("Movie") ?? new List<MovieVm>();
        movies = moviesList.ToList();
    }
}
